<div style="padding-top: 120px">
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Nom</th>
          <!-- <th>Prenom</th>-->
          <th>NumeroTEL</th>
          <!-- <th>Ville</th>-->
          <th>Make_Code</th>
          <th>Model_Code</th>
          <th>Model_Version_No</th>
          <th>VIN</th>
          <th>Location_Code</th>
          <th>Serial_No</th>
          <th>demande devis</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ListeDemande of ListeDemande; let i = index">
          <td>{{ ListeDemande.ID }}</td>
          <td>{{ ListeDemande.Email }}</td>
          <td>{{ ListeDemande.Nom }}</td>
          <td>{{ ListeDemande.NumeroTEL }}</td>
          <td>{{ ListeDemande.Make_Code }}</td>
          <td>{{ ListeDemande.Model_Code }}</td>
          <td>{{ ListeDemande.Model_Version_No }}</td>
          <td>{{ ListeDemande.VIN }}</td>
          <td>{{ ListeDemande.Location_Code }}</td>
          <td>{{ ListeDemande.Serial_No }}</td>
          <td>
            <!-- <button (click)="demandeDevis(product)">Demande devis</button>-->
          </td>
          <td *ngIf="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
              />
            </svg>
          </td>
        </tr>
      </tbody>

      <tbody></tbody>
    </table>
  </div>
</div>
