<div class="nav"><app-navbar-components></app-navbar-components></div>

<div class="container">

  <div class="text-center mt-5">
    <h1>création Devis</h1>
  </div>

  <div class="row">
    <div class="col-lg-7 mx-auto">
      <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
          <div class="container">
            <form id="contact-form" role="form">
              <div class="controls">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_name">nom *</label>
                      <input
                        id="form_name"
                        type="text"
                        name="nom"
                        class="form-control"
                        placeholder=" nom *"
                        required="required"
                        data-error="nom is required."
                      />
                    </div>
                    <div class="form-group">
                      <label for="form_name">numero *</label>
                      <input
                        id="form_name"
                        type="numero"
                        name="numero"
                        class="form-control"
                        placeholder=" numero *"
                        required="required"
                        data-error="numero is required."
                      />
                    </div>
                    <div class="form-group">
                      <label for="form_email">email *</label>
                      <input
                        id="form_email"
                        type="email"
                        name="email"
                        class="form-control"
                        placeholder="Please enter your email *"
                        required="required"
                        data-error="Valid email is required."
                      />
                    </div>
                    <div class="form-group">
                      <label for="form_need">Quantité *</label>
                      <select
                        id="form_need"
                        name="need"
                        class="form-control"
                        required="required"
                        data-error="Please specify your Quantité."
                      >
                        <option value="" selected disabled>
                          --Quantité--
                        </option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="form_lastname">prenom *</label>
                      <input
                        id="form_lastname"
                        type="text"
                        name="prenom"
                        class="form-control"
                        placeholder="prenom*"
                        required="required"
                        data-error="prenom is required."
                      />
                    </div>
                    <div class="form-group">
                      <label for="gouvernorat">gouvernorat *</label>
                      <input
                        id="gouvernorat"
                        type="text"
                        name="gouvernorat"
                        class="form-control"
                        placeholder="gouvernorat *"
                        required="required"
                        data-error="Valid gouvernorat is required."
                      />
                    </div>
                    <div class="form-group">
                      <label for="adresse">adresse *</label>
                      <input
                        id="adresse"
                        type="text"
                        name="adresse"
                        class="form-control"
                        placeholder="adresse *"
                        required="required"
                        data-error="Valid adresse is required."
                      />
                    </div>
                    <div class="form-group">
                      <label for="form_need">Couleur *</label>
                      <select
                        id="form_need"
                        name="need"
                        class="form-control"
                        required="required"
                        data-error="Couleur"
                      >
                        <option value="" selected disabled>
                          --  Couleur--
                        </option>
                        <option>Noir</option>
                        <option>Rouge</option>
                        <option>Blanc</option>
                        <!-- <option>Other</option> -->
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="form_message">Message *</label>
                      <textarea
                        id="form_message"
                        name="message"
                        class="form-control"
                        placeholder="Write your message here."
                        rows="4"
                        required="required"
                        data-error="Please, leave us a message."
                      ></textarea>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <input
                      type="submit"
                      class="btn btn-success btn-send pt-2 btn-block"
                      value="Send Message"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- /.8 -->
    </div>
    <!-- /.row-->
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="product">
      <div class="title-Produit">produit</div>
      <p>{{ product.Location_Code }}</p>
      <p>{{ product.Make_Code }}</p>
      <p>{{ product.Model_Code }}</p>
      <p>{{ product.Serial_No }}</p>
      <p>{{ product.VIN }}</p>
      <p>{{ product.Model_Version_No }}</p>
    </div>
  </div>
</div>

