<app-navbar-components></app-navbar-components>
<div class="home-container">
  <div class="slideview">
    <div class="logo-sideview"></div>
    <div class="marcedes-content">
      <h2 class="marcedes">Mercedes-Benz</h2>
    </div>
  </div>

  <div class="product-image">
    <div class="line1">
      <div class="image">

          <a (click)="loadProductsByModelCode('CLASSE A')">
            <img
              src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/Classe%20A/ClassA_d%C3%A9tour%C3%A9e_v6.png"
              alt="a"
            />
          </a>
          <div *ngIf="products.length > 0">
            <h3>Products Loaded:</h3>
            <ul>
              <li *ngFor="let product of products">{{ product | json }}</li>
            </ul>
          </div>





          <button class="name-product">Mercedes-Benz Classe A</button>

      </div>
      <div class="image">
        <a (click)="loadProductsByModelCode('CLA')">
          <img
            src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/CLA/CLA.png"
            alt=" cla"
          />
        </a>
        <div *ngIf="products.length > 0">
          <h3>Products Loaded:</h3>
          <ul>
            <li *ngFor="let product of products">{{ product | json }}</li>
          </ul>
        </div>
        <p class="name-product">Mercedes-Benz Classe CLA</p>
      </div>
    </div>
    <div class="line2">
      <div class="image">
        <a (click)="loadProductsByModelCode('CLASSE C')">
          <img
            src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/Class%20C/C-Berline.png"
            alt="c"
          />
        </a>
        <p class="name-product">Mercedes-Benz Classe C</p>
      </div>
      <div class="image">
        <a (click)="loadProductsByModelCode('CLASSE E')">
          <img
            src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/Class%20E/Class-E.png"
            alt="e"
          />
        </a>
        <p class="name-product">Mercedes-Benz Classe E</p>
      </div>
    </div>
    <div class="line3">
      <div class="image">
        <a (click)="loadProductsByModelCode('GLB')">
          <img
            src="	https://cdn-ds.com/media/dfmodels/5390/w_458/h_343/MainImage-73066.png"
            alt="GLB"
          />
        </a>
        <p class="name-product">Mercedes-Benz GLB</p>
      </div>
      <div class="image">
        <a (click)="loadProductsByModelCode('GLA')">
          <img
            src="	http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/GLA/GLA1.png"
            alt="GLA"
          />
        </a>
        <p class="name-product">Mercedes-Benz GLA</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
