<div class="home-container">

  <div class="slideview">

      <div class="logo-sideview">

      </div>
      <div class="marcedes-content">
        <h2 class="marcedes">Mercedes-Benz</h2>
      </div>
  </div>

  <div class="product-image">
  <div class="line1">
    <div class="image">
      <img src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/Classe%20A/ClassA_d%C3%A9tour%C3%A9e_v6.png" alt=" a">
      <p class="name-product"> Mercedes-Benz Classe A </p>
    </div>
    <div class="image">
      <img src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/CLA/CLA.png" alt=" cla">
      <p class="name-product">  Mercedes-Benz Classe CLA</p>
     </div>
  </div>
   <div class="line2">
    <div class="image">
      <img src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/CLA/CLA.png" alt="c">
      <p class="name-product"> Mercedes-Benz Classe C </p>
    </div>
    <div class="image">
      <img src="http://www.lemoteur-sa.com/u_p_l_d/public/Mercedes/Class%20E/Class-E.png" alt="e">
      <p class="name-product"> Mercedes-Benz Classe E </p>

    </div>
   </div>

  </div>


</div>
