
header{
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
.navbar
{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: aliceblue;
  padding: 12px;
}
nav ul li
{

  list-style-type: none;
  display: inline-block;
  padding: 10px 40px;
}
nav ul li a{
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav ul li:hover{
  font-weight: bold;
  color:black;
  border-radius: 10px;
  background-color:aqua;
  padding: 10px 20px;
  cursor: pointer;
}
.login{
  padding-top: 20px;
}
.login li{
  list-style-type: none;
  display: inline-block;

}
.login li a {
  font-weight: bold;
  color:black;
  text-decoration: none;
  border-radius: 10px;
  background-color:aqua;
  padding: 10px 30px;
}
/* Ajuster la taille de l'icône de profil */
.fas.fa-user {
  font-size: 20px;
  /*border-radius: 90%; /* Créer une bordure circulaire */
 /* border: 2px solid #fff; /* Ajouter une bordure blanche autour de l'icône */
  padding: 5px; /* Ajuster l'espace entre l'icône et la bordure */
}

/* Vos styles CSS restants ici */

/* Ajouter une position relative à l'élément parent pour positionner le sous-menu correctement */
nav li {
  position: relative;
}

.profile-submenu {
  position: absolute;
  top: 100%; /* Placez le sous-menu juste en dessous de l'icône de profil */
  left: 0;
  display: none; /* Cachez le sous-menu par défaut */
  background-color: #333;
  padding: 10px;
  list-style: none;
}

/* Afficher le sous-menu lorsque showProfileMenu est vrai */
nav li:hover .profile-submenu {
  display: block;
  color: #fff;
  background-color: black;
}
.nom{
  color: aqua;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  
}


.profile-submenu li {
  margin: 5px 0;
}

.profile-submenu a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.profile-submenu a i {
  margin-right: 10px;
}
