<app-navbar-components></app-navbar-components>

<div style="padding-top: 120px">
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>id</th>
          <th>nom</th>
          <th>prenom</th>
          <!-- <th>Prenom</th>-->
          <th>numero</th>
          <!-- <th>Ville</th>-->
          <th>email</th>
          <th>adresse</th>
          <th>gouvernorat</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of ListeUser; let i = index">
          <td>{{ user.id }}</td>
          <td>{{ user.nom }}</td>
          <td>{{ user.prenom }}</td>
          <td>{{ user.numero }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.adresse }}</td>
          <td>{{ user.gouvernorat }}</td>
          <td></td>

          
        </tr>
      </tbody>

      <tbody></tbody>
    </table>
  </div>
</div>
