
<header>
  <nav class="navbar">
    <div class="logo-navbar">
      <img src="http://www.lemoteur-sa.com/u_p_l_d/logo/1517563734_09427370015175637345a742f56e6291.png" alt="logo">

    </div>
  <div class="navbar">
    <ul>
      <li>
        <a  routerLink="/">Home</a>
      </li>
      <li>
        <a  routerLink="/Profile">Profile</a>

      </li>
      <li>
        <a routerLink="/contact">Contact</a>

      </li>
      <li>
        <a href="" routerLink="/products">Products</a>

      </li>

    </ul>
  </div>
  <div class="login">
    <li>
      <a routerLink="/signin">Login</a>
    </li>
  </div>
  </nav>
</header>
<router-outlet></router-outlet>
