<app-navbar-components></app-navbar-components>

<div style="padding-top: 120px">
  <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Make_Code</th>
            <th>Model_Code</th>
            <th>Model_Version_No </th>
            <th>VIN </th>
            <th>Location_Code</th>
            <th>Serial_No </th>
            <th>demande devis</th>

        </tr>

        </thead>
        <tbody>
          <tr *ngFor="let product of products; let i = index">
            <td>{{ product.Make_Code }}</td>
            <td>{{ product.Model_Code }}</td>
            <td>{{ product.Model_Version_No }}</td>
            <td>{{ product.VIN }}</td>
            <td>{{ product.Location_Code }}</td>
            <td>{{ product.Serial_No }}</td>

            <td>  <button (click)=" demandeDevis(product)">Demande devis</button> </td>
          
          </tr>

        <tbody>
    </table>

  </div>

</div>
