a {
  color: aliceblue;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
  color: aliceblue;

}
.contact-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socite{
  padding-right: 100px;
}
.copyright{
  color: white;
}
.text{
  color: aliceblue;
}

.form-control {
  background-color: black;
  color: aliceblue;
}

.form-control:focus {
  background-color: black;
  color: aliceblue;

}

footer {
  background-color: black;
  color: aliceblue;
  position: absolute;
  bottom: 0;
  width: 100%;

}
p {
  color: aliceblue;

}
.col-lg-4.col-md-6.col-md-6 p.small.text-muted {
  color: aliceblue;
}

/* ==========================================
    CUSTOM UTILS CLASSES
  ========================================== */
  body, html {
    height: 100%;
    color: aliceblue;

  }

