<div class="d-flex flex-column h-100">
  <!-- FOOTER -->
  <footer class="w-100 flex-shrink-0">
    <div class="container py-4">
      <div class="contact-content">
        <div class="adress">
          <img src="../assets/image/logo.png" alt="logo" />
          <p class="text">
            Sousse Le Moteur SA (Sousse) Adresse : Route de la Ceinture -
            Akkouda - Sousse Tél: +216 31 304 400
          </p>
        </div>

        <div class="socite">
          <a href="https://www.deltagroup.com.tn/">
            <img src="../assets/image/logo-fin.png" alt="logo" />
          </a>
          <p class="mb-0 copyright">&copy; Copyrights. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
